<launch>
  <!-- Define general parameters.  These can be overwritten by the
       roslaunch command line. -->
  <arg name="urdf"  default="threeDOF.urdf"/>
  <arg name="model" default="$(find HW1)/urdf/$(arg urdf)"/>
  <arg name="cfg"   default="$(find HW1)/rviz/viewurdf.rviz"/>
  <arg name="sim"   default="False"/>


  <!-- Load the URDF file into the robot_description parameter. -->
  <param name="robot_description" textfile="$(arg model)"/>
  
  <!-- Start the Hebi node.  -->
  <node pkg ="me134basic"
	type="hebi"
	name="hebi"
	output="screen"
	required="true">
    <rosparam>
      family: "Thor"
      names: ["1", "6", "3", "4", "2"]
    </rosparam>
  </node>
  
  <!-- Start the camera node. -->
  <node pkg ="usb_cam"
	type="usb_cam_node"
	name="usb_cam">
    <rosparam>
      camera_name: "logitech"
      pixel_format: "yuyv"
    </rosparam>
  </node>
  
  <!-- Start the rosserial node. 
       Might need to change rw permissions with
       sudo chmod a+rw /dev/ttyACM0-->
  <node pkg ="rosserial_python"
	type="serial_node.py"
	name="rosserial">
    <rosparam>
      port: "/dev/ttyACM0"
    </rosparam>
  </node>
  
  rosrun   
  
  <!-- Start the ROS kinematic chain processing. -->
  <node pkg ="robot_state_publisher"
	type="robot_state_publisher"
	name="rsp">
    <param name="ignore_timestamp" value="true"/>
  </node>


  <!-- Run the rviz visualization -->
  <node pkg ="rviz"
	type="rviz"
	name="rviz" args="-d $(arg cfg)"
	output="screen"
	required="false"/>

</launch>
