<launch>
  <!-- Define general parameters.  These can be overwritten by the
       roslaunch command line. -->
  <arg name="model" default="$(find HW1)/urdf/threeDOF.urdf"/>
  <arg name="cfg"   default="$(find HW1)/rviz/viewurdf.rviz"/>


  <!-- Load the URDF file into the robot_description parameter. -->
  <param name="robot_description" textfile="$(arg model)"/>


  <!-- Start the ROS kinematic chain processing. -->
  <node pkg ="robot_state_publisher"
	type="robot_state_publisher"
	name="rsp">
    <param name="ignore_timestamp" value="true"/>
  </node>
  
    <!-- Start the camera node. -->
  <node pkg ="usb_cam"
	type="usb_cam_node"
	name="usb_cam">
    <rosparam>
      camera_name: "logitech"
      pixel_format: "yuyv"
    </rosparam>
  </node>


  <!-- Run the rviz visualization -->
  <node pkg ="rviz"
	type="rviz"
	name="rviz" args="-d $(arg cfg)"
	output="screen"
	required="true"/>


</launch>
